<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">


    <context:component-scan base-package="peaksoft"/>
    <context:property-placeholder location="application.properties"/>

    <bean id="dog" class="peaksoft.Dog">
        <property name="breed" value="${animal2.breed}"/>
        <property name="color" value="${animal2.color}"/>
    </bean>

    <bean id="horse" class="peaksoft.Horse">
        <property name="breed" value="${animal1.breed}"/>
        <property name="color" value="${animal1.color}"/>
    </bean>

    <bean id="person1" class="peaksoft.Person">
        <property name="name" value="${person1.name}"/>
        <property name="age" value="${person1.age}"/>
        <property name="animal" ref="horse"/>
    </bean>

    <bean id="person2" class="peaksoft.Person">
        <property name="name" value="${person2.name}"/>
        <property name="age" value="${person2.age}"/>
        <property name="animal" ref="dog"/>
    </bean>
</beans>